/* 
    Image source is set in src -> containers -> Home.js 
*/
#Home #Header {
    height: calc(100vh - 60px);
    background-size: cover;
    background-attachment: fixed;
    background-color:black;
    background-position-y: center;
}

#Home #Header p {
    font-size: 1.5rem; 
}

#Home .card .overlay-bottom{
    position: absolute;
    bottom: 0;
}

#Home .card .card-img-overlay {
    background-color: #00000014;
}
#Home a.link-card:hover {
    box-shadow: 0 0 0px 6px #07284e;
    display: block;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms; 
}